<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des projets | AMES</title>
    <link rel="stylesheet" href="/detail.css">
    <link rel="shortcut icon" href="/Img/logoN.png">
</head>
<body>   

    <div id="div1">        
        <a href="/projects-list" id="link">Retourner au menu</a>  
        <a href="/" id="link">Retourner a l'accueil</a>  
        <!-- <p id="updateDiagramm">Mettre à jour</p> -->
        <div class="headerPage">
            <h1 id="NameProject"><%= name_project%></h1>
            <img src="/Img/logoN.png" alt="" width="100px">
        </div>
    </div>

    
    <section id="section1" class="mainSectionPlan">  
        <p id="AddRessources">Gérer les ressources</p>
        <img src="/Img/plus.png" alt="Add Task" id="Add">

        <div style="margin: 0 0 10px 45px;">
            <input type="checkbox" name="Lundi" id="Lundi">
            <label for="Lundi">Lundi</label>

            <input type="checkbox" name="Mardi" id="Mardi">
            <label for="Mardi">Mardi</label>

            <input type="checkbox" name="Mercredi" id="Mercredi">
            <label for="Mercredi">Mercredi</label>

            <input type="checkbox" name="Jeudi" id="Jeudi">
            <label for="Jeudi">Jeudi</label>

            <input type="checkbox" name="Vendredi" id="Vendredi">
            <label for="Vendredi">Vendredi</label>

            <input type="checkbox" name="Samedi" id="Samedi">
            <label for="Samedi">Samedi</label>

            <input type="checkbox" name="Dimanche" id="Dimanche">
            <label for="Dimanche">Dimanche</label>
        </div>
    
        <div id="MainDiv">
            <main id="MainPart">
                <section id="Diagramm">
                    <div class="div" id="tata">Tâches</div>
                    <div id="charges">Charges</div>
                    <div id="real">Jour réalisé</div>
                    <div class="avancement">Avancement </div>
                    <div id="rest">Jour restant</div>
                    <div class="div">Ressources</div>
                    <div id="dispo">Disponibilité (en %)</div>
                    <div class="div">Début</div>
                    <div class="div">Fin</div>
                    <div id="dur">Durée</div>
                </section>
            </main>
            <div id="SecondDiv" style="margin-right: 25px;"></div>
        </div>
    </section>

    <!-- <div style="display: none" id="popup">
        <h2>Ajouter une nouvelle Tâche</h2>

        <label for="">Nom de la nouvelle tâche : </label>
        <input type="text" placeholder="Tâches" id="addNewTask" required>

        <label for="">Charges de travail prévue : </label>
        <input type="text" placeholder="Charges" id="addNewCharges" required>

        <label for="">Nom de la ressource : </label>
        <input type="text" placeholder="Ressources" id="addNewRessource" required>

        <label for="">Date de début : </label>
        <input type="date" id="addNewDateD" required>

        <label for="">Date de fin : </label>
        <input type="date" id="addNewDateF" required>

        <div id="option">            
            <button id="save">Sauvegarder</button>
            <button id="cancel">Annuler</button>
        </div>
    </div> -->

    <div id="manageRessource">
        <h2>Gestion des ressources</h2>
        <div>            
            <div class="ajoutRessource">
                <input type="text" required placeholder="Ajouter une nouvelle ressource" id="inputRessource">
                <p id="ressource1">Ajout de la nouvelle ressource</p>
            </div>
            <p id="delRessources">Supprimer une ressource</p>
            <div id="ressourcesToDel"></div>
        </div>

        <img src="/Img/fermer2.png" alt="" width="30px" id="sortir">
    </div>
    
    <script src="/JavaScript/project-detail.js" defer></script>
    <script src="/JavaScript/manageRessources.js"></script>
    <script>
        async function getUser(token) {
            const response = await fetch('/api/users/me', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'x-auth-token': token 
                }
            });

            if (response.ok) {
                const userData = await response.json();
                console.log(userData);
            } else {
                console.log('Failed to fetch user data');
                window.location.href = "/login"
            }
        }

        getUser(localStorage.getItem('token'))
    </script>
</body>
</html>
