<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/login">index</a>
    <script>
        const token = localStorage.getItem('token')

        if(token){
            console.log('Token found : ', token)
        } else {
            console.log('no token found, user is not logged in')
            window.location.href = "index.html"
        }
    </script>
</body>
</html>