*
{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body
{
    width: 100%;
    height: 1px;
    background: linear-gradient(70deg, #0ea14a, #87c53e);
}

main 
{
    background: #fff;
    width: 960px;
    padding: 177px 130px 33px 95px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    padding: 2%;
    border-radius: 15px;
}

h2
{
    font-size: 2em;
    margin: 30px 0 75px 0;
}

#log
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#log form div
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    font-size: 15px;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
    margin-bottom: 20px;
}
#log form div input
{
    width: 250px;
    margin-left: 10px;
    background: none;
    border: none;
    color: #8f8889;
    font-size: 1.2em;
    transition: 1s;
}

#log form div input:focus
{
    outline: none;
    font-size: 1.3em;
}

#AMES
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button
{
    margin: 30px 0;
    width: 360px;
    height: 50px;
    /* margin-left: 10px; */
    background: none;
    border: none;
    color: #fff;
    background: #0ea14a;
    font-size: 1.2em;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.7s;
}

#button:hover
{
    background-color: #87c53e;    
}

#acc
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #8f8889;
}

@media screen and (max-width: 1050px) {
    #AMES{
        display: none;
    }
    main
    {
        width: 50%;
        justify-content: center;
        /* padding: 0; */
    }
    #log
    {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    #AMES{
        display: none;
    }
    main
    {
        width: 90%;
        justify-content: center;
    }
    h2
    {
        font-size: 1.7em;
    }
    #log
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #log form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #log form div
    {
        width: 200px;
        height: 35px;
        font-size: 12px;       
    }
    #button
    {
        width: 260px;
        height: 35px;
    }
}