
#main-template section
{
    display: flex;
    margin: 2% 0;
    align-items: center;
}

.divdiv
{
    padding: 0 10px;
    border: 1px solid gray;
}

.classSS
{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}